{
	"key": "yEm9RJSTbO0WnjXtJuGnWNldSV7F9TVI",
	"secret": "$2a$10$HPP4hp2SA/GR6S7UsgDqjeMRnsmmea/rSF/rH/OMN02UQY5067CVi",
	"uri": "https://test.simplecampushousing.com/api",
	"db_connection": "DRIVER={SQL Server};SERVER=jenzabardb;DATABASE=production;UID=SCH;PWD=password",
	"pull_sql": "db/select-resident.jenzabar.sql",
	"pull_map": "db/select-resident.jenzabar.json"
}
